<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <title>Forgot Password</title>

        <!-- Custom fonts -->
        <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700,900" rel="stylesheet" />

        <!-- Custom styles -->
        <link href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
    </head>

    <body class="bg-gradient-primary">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-12 col-md-9">
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <!-- Split Layout Row -->
                            <div class="row">
                                <!-- Left side image or logo -->
                                <div class="col-lg-6 d-flex justify-content-center align-items-center p-4">
                                    <img src="{{ url_for('static', filename='img/appLogo.png') }}" alt="Logo" class="img-fluid" style="max-height: 500px;">
                                </div>

                                <!-- Right Side Form -->
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-2">Reset Your Password</h1>
                                            <p class="mb-4">Enter your email address and new password below to reset your password.</p>
                                        </div>
                                        <form class="user" method="POST" action="{{ url_for('forgot_password') }}">
                                            <div class="form-group">
                                                <input type="email" class="form-control form-control-user" id="email" name="email" placeholder="Enter Email Address..." required />
                                            </div>
                                            <label for="password">New Password</label>
                                            <i class="fas fa-info-circle ml-2"
                                                data-toggle="tooltip"
                                                data-placement="top"
                                                title="Password must be at least 8 characters long and include one uppercase letter, one number, and one special character.">
                                            </i>
                                            <div class="form-group position-relative">
                                                <input type="password" class="form-control form-control-user" id="password" name="password" placeholder="Enter New Password..." required />
                                                <i class="fas fa-eye toggle-password" toggle="#password" style="position: absolute; top: 50%; right: 15px; transform: translateY(-50%); cursor: pointer;"></i>
                                            </div>
                                            <div class="form-group position-relative">
                                                <input type="password" class="form-control form-control-user" id="confirm_password" name="confirm_password" placeholder="Confirm New Password..." required />
                                                <i class="fas fa-eye toggle-password" toggle="#confirm_password" style="position: absolute; top: 50%; right: 15px; transform: translateY(-50%); cursor: pointer;"></i>
                                            </div>

                                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                                Reset Password
                                            </button>
                                        </form>
                                        <hr />
                                        <div class="text-center">
                                            <a class="small" href="{{ url_for('signup') }}">Create an Account!</a>
                                        </div>
                                        <div class="text-center">
                                            <a class="small" href="{{ url_for('login') }}">Already have an account? Login!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Row -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- JavaScript dependencies -->
        <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/expense_tracker/forgot_password.js') }}"></script>
    </body>
</html>
